Repository ragaeeb/das-js, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, tests

Update flowwer-dev/pull-request-stats action to v2
  .github/workflows/stats.yml
Labels: none

Bump version
  .github/workflows/bumper.yml
Labels: none

Update cypress-io/github-action action to v2.9.10
  .github/workflows/cypress.yml
Labels: none

ci: version bump to v0.8.5
  package-lock.json
  package.json
Labels: dependencies

ci: version bump to v0.9.0
  package-lock.json
  package.json
Labels: dependencies

chore(deps): update dependency preact-render-to-string to v5.1.19
  package-lock.json
  package.json
Labels: dependencies

chore(deps): update dependency @babel/plugin-transform-runtime to v7.13.15
  package-lock.json
  package.json
Labels: dependencies

chore(deps): update dependency eslint-plugin-react to v7.23.2
  package-lock.json
  package.json
Labels: dependencies

chore(deps): update dependency eslint to v7.24.0
  package-lock.json
  package.json
Labels: dependencies

chore(deps): update cypress-io/github-action action to v2.9.11
  .github/workflows/cypress.yml
Labels: none

chore(deps): update dependency eslint-config-prettier to v8.2.0
  package-lock.json
  package.json
Labels: dependencies

chore(deps): update gatsby monorepo
  package.json
Labels: dependencies

fix(deps): update gatsby monorepo
  package-lock.json
  package.json
Labels: dependencies

Add Ramadan post
  content/blog/ramadhan-tuesday-august-13th/index.md
Labels: none

fix(deps): update gatsby monorepo
  package-lock.json
  package.json
Labels: dependencies

fix(deps): update gatsby monorepo
  package-lock.json
  package.json
Labels: dependencies

chore(deps): update gatsby monorepo
  package.json
Labels: dependencies

Show Salat al-Tarawīh #427
  __tests__/utils/calculator.test.js
  content/blog/ramadhan-tuesday-august-13th/index.md
  src/components/Hero.jsx
  src/mock/data.js
  src/utils/calculator.js
Labels: none

fix(deps): update gatsby monorepo
  package-lock.json
  package.json
Labels: dependencies

Upgrade gatsby dependencies
  package.json
Labels: dependencies

Delete changelog since it's now automatically maintained in the wiki
  CHANGELOG.MD
Labels: documentation

Taraweeh timing, dependency upgrades and new post (#431) (minor)
  .github/workflows/cypress.yml
  CHANGELOG.MD
  __tests__/utils/calculator.test.js
  content/blog/ramadhan-tuesday-august-13th/index.md
  package-lock.json
  package.json
  src/components/Hero.jsx
  src/mock/data.js
  src/utils/calculator.js
Labels: documentation, dependencies

ci: version bump to v0.10.0
  package-lock.json
  package.json
Labels: dependencies

Fix timing for last post
  content/blog/ramadhan-tuesday-august-13th/index.md
Labels: none

ci: version bump to v0.10.1
  package-lock.json
  package.json
Labels: dependencies

Fix donate not showing up
  src/components/Donate.jsx
Labels: none

ci: version bump to v0.10.2
  package-lock.json
  package.json
Labels: dependencies

chore(deps): update dependency eslint-plugin-prettier to v3.4.0
  package.json
Labels: dependencies

chore(deps): update enriikke/gatsby-gh-pages-action action to v2.1.2
  .github/workflows/gatsby.yml
Labels: none

chore(deps): update cypress-io/github-action action to v2.9.12
  .github/workflows/cypress.yml
Labels: none

Broken link and update post with pdfs
  content/blog/book-of-prayer/index.md
  content/blog/ramadhan-tuesday-august-13th/index.md
Labels: none

Typo fixes and fix broken links (#435)
  .github/workflows/cypress.yml
  .github/workflows/gatsby.yml
  content/blog/book-of-prayer/index.md
  content/blog/ramadhan-tuesday-august-13th/index.md
  package.json
Labels: dependencies

ci: version bump to v0.10.3
  package-lock.json
  package.json
Labels: dependencies

Add new post and fix old post formatting
  content/blog/closing-musalla-03-04-2021/index.md
  content/blog/closing-musalla-19-04-2021/index.md
  content/blog/ramadhan-tuesday-august-13th/index.md
Labels: none

chore(deps): update flowwer-dev/pull-request-stats action to v2.0.1
  .github/workflows/stats.yml
Labels: none

ci: version bump to v0.10.4
  package-lock.json
  package.json
Labels: dependencies

chore(deps): update dependency eslint to v7.25.0
  package.json
Labels: dependencies

chore(deps): update dependency eslint-config-prettier to v8.3.0
  package.json
Labels: dependencies

chore(deps): update gatsby monorepo
  package.json
Labels: dependencies

fix(deps): update dependency gatsby-plugin-sitemap to v4
  package.json
Labels: dependencies

.github/labeler.yml:

# https://github.com/actions/labeler

documentation:
    - '*.MD'

dependencies:
    - 'package.json'

# Add 'test' label to any change to *.test.js files within the source dir
tests:
    - src/**/*.test.js
