Repository ragaeeb/das-js, pull requests merged in 2020-12, with the labels that each got.

#290 Update Jumuah Time (#289)
  src/mock/data.js
Labels: points/0.5, priority/medium

#296 Update fajr times (#295)
  src/mock/data.js
Labels: bug, priority/medium

#308 Add new lockdown blog (#307)
  content/blog/closing-musalla-26-12-2020/index.md
Labels: blog

#310 Fix broken links, upgrade packages
  .github/workflows/link-check.yml
  CHANGELOG.MD
  content/blog/1st-day-of-ramadaan-sunday-june-29th-2014-in-sha-allah-and-attached-1435-ah-2014-ramadaan-calendar/index.md
  content/blog/closing-musalla-26-12-2020/index.md
  content/blog/new-class-tafseer-of-sooratul-baqarah-by-ash-shaykh-abu-abdir-rahmaan-muhammad-ali/index.md
  content/blog/this-message-is-for-you/index.md
  content/blog/update-sujud-sahw/index.md
  package-lock.json
  package.json
Labels: blog, bug, dependencies, devops, documentation, maintainability, points/0.5, priority/high

#313 Update latest Musalla closing blog
  content/blog/closing-musalla-26-12-2020/index.md
Labels: blog

#317 Refactor, add cypress and add chat widget
  .github/workflows/cypress.yml
  .github/workflows/gatsby.yml
  CHANGELOG.MD
  README.md
  __tests__/utils/calculator.test.js
  content/blog/closing-musalla-26-12-2020/index.md
  content/blog/eid-ul-fitr-prayer-1435-ah/index.md
  gatsby-config.js
  package-lock.json
  package.json
  src/components/Contact.jsx
  src/components/Donate.jsx
  src/components/Footer/Copyright.jsx
  src/components/Footer/Footer.jsx
  src/components/Footer/GitHash.jsx
  src/components/Hero.jsx
  src/mock/data.js
  src/pages/monthly.jsx
  src/pages/privacy.jsx
  src/pages/yearly.jsx
  src/utils/calculator.js
Labels: blog, dependencies, devops, documentation, feature, maintainability, points/5, priority/high, tech-debt, technical-logic, tests, usability, user-interface
