Repository ragaeeb/das-js, pull requests merged in 2021-05, with the labels that each got.

#447 Add iftar announcement
  content/blog/drive-thru-ramadan-iftar-02-05-2021/index.md
Labels: points/0.5, task

#462 Fix loading of iftar announcement flyer (#461)
  content/blog/drive-thru-ramadan-iftar-02-05-2021/index.md
Labels: points/0.5, regression

#469 Eid prayer announcement
  content/blog/eid-al-fitr-1442h/index.md
  package-lock.json
  package.json
Labels: dependencies, points/0.5, priority/high

#475 v0.12.0 changes
  README.md
  examples/yearly.jpg
  gatsby-config.js
  package-lock.json
  package.json
  src/components/App.jsx
  src/components/ErrorBoundary.jsx
  src/components/Footer/Footer.jsx
  src/components/Footer/GitHash.jsx
  src/components/Hero.jsx
  src/components/Post.jsx
  src/pages/yearly.jsx
Labels: dependencies, maintainability, points/1, priority/high, security, technical-logic
